ArmyBalancer.opensdf
ArmyBalancer.sdf
ArmyBalancer.sln
ArmyBalancer.vcxproj*
GeneratedFiles/
debug/
release/
x64/
Win32/
*.suo
*.swp
Makefile
*.o
ArmyBalancer
*.pro.user
moc_*
qrc_qml.cpp
windows/installer/*
