ArmyBalancer.opensdf
ArmyBalancer.sdf
ArmyBalancer.vcxproj*
GeneratedFiles/
debug/
release/
x64/
Win32/
*.suo
*.swp
Makefile
*.o
ArmyBalancer
*.pro.user
moc_*
qrc_qml.cpp
windows/installer/*
debian/armybalancer.debhelper.log
debian/armybalancer.postinst.debhelper
debian/armybalancer.postrm.debhelper
debian/armybalancer/
debian/armybalancer.substvars
debian/files
windows/ArmyBalancerInstaller/bin
windows/ArmyBalancerInstaller/obj
