Package: armybalancer
Version: 1.0.0-1
Architecture: amd64
Maintainer: Matthew Hoggan <matthew.hoggan@matthewh.me>
Installed-Size: 26
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
